<h1>Provide More Details</h1>

<%= form_with model: @speech_request, url: speech_request_path(@speech_request), method: :patch, local: true do |form| %>
  <%= form.fields_for :detailed_answers do |detailed_form| %>
    <% @follow_up_questions.each_with_index do |question, index| %>
      <div>
        <%= detailed_form.label "answer_#{index}", question %>
        <%= detailed_form.text_area "answer_#{index}" %>
      </div>
    <% end %>
  <% end %>

  <%= form.submit "Submit Answers" %>
<% end %>
